/* Project-wide style */

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.header {
  padding: 20px;
  text-align: center;
  color: white;
  background:#80CEE1;
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  float: left;
  flex: 20%;
  background-color: darksalmon;
  color: black;
  padding: 40px;
}

.side a {
  color: rgb(87, 4, 4);
}

.side h2 {
  text-align: center;
}

.side img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.side p {
  display: block;
  padding: 10px;
  text-align: center;
}

.main {   
  float: right;
  flex: 80%;
  background-color: white;
  padding: 20px;
}

.single-grid-1 {
  background-color: bisque;
  color: black;
  flex: auto;
  padding: 50px;
}

.single-grid-2 {
  background-color: lightblue;
  color: black;
  flex: auto;
  padding: 50px;
}

@media screen and (max-width: 600px) {
  .row {   
    flex-direction: column;
  }   
}
