{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'sortableaccordion.js' %}"></script>
{% endblock %}

{% block content %}
<div id="accordion">
    <div class="group">
      <h3>Aktivitas saat ini</h3>
      <div>
        <p>Saat ini, saya adalah seorang mahasiswa yang sering menghabiskan waktu saya untuk mencari tahu tentang banyak hal (walaupun biasanya tidak terkait dengan materi perkuliahan :/) dan mendengarkan lagu. Saya juga sering
           menggunakan waktu kosong saya untuk bermain game bersama teman-teman seangkatan ketika sedang jenuh dengan banyaknya tugas yang ada.
        </p>
      </div>
    </div>
    <div class="group">
      <h3>Pengalaman organisasi/kepanitiaan</h3>
      <div>
        <ul>
            <li>Divisi acara pentas seni 'Gado-gado' SMAN 39 Jakarta</li>
            <li>Tim pengajar Teknik Informal School (TIS) FTUI</li>
        </ul>
      </div>
    </div>
    <div class="group">
      <h3>Prestasi</h3>
      <div>
        <p>Sebenarnya, saya merasa bahwa saya belum memiliki prestasi yang pantas untuk disebutkan sebagai 'prestasi' :) <br> Bagian ini hanya berfungsi untuk mengisi kolom dari accordion ini</p>
        <ul>
          <li>Ini prestasi pertama</li>
          <li>Ini prestasi kedua</li>
          <li>Ini prestasi ketiga</li>
        </ul>
      </div>
    </div>
    <div class="group">
      <h3>Harapan tentang PPW</h3>
      <div>
        <p>Saat ini, saya akan merasa senang jika saya mampu menyelesaikan kuliah PPW dengan nilai lulus, berapapun nilainya. Saya berharap saya mampu mengikuti materi-materi yang ada hingga 
           akhir semester dengan baik dan dapat membawa ilmu yang saya peroleh pada kuliah ini hingga setelah lulus nanti</p>
      </div>
    </div>
  </div>
{% endblock %}