{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class='row'>
        <div class='col'>
            <h1>Tambahkan Peserta</h1>
        </div>
    </div>

    <div class='row'>
        <div class='col'>
            <form action="savepeserta/" method="POST">
                <div class="form-group">
                    {% csrf_token %}

                    {{ create_peserta }}
                </div>
                <button type="submit" class="btn btn-dark">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}