<!DOCTYPE html>
<html>

<head>
<title>My Profile Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'style.css' %}" />
{% block head %}
{% endblock %}
</head>

<body>
<div class="header">
    <h1>My Profile Page</h1>
    <p>Masih belum rapi - tunggu beberapa minggu lagi :)</p>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'story4:desc' %}">Description</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'story4:story1' %}">Story 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'story4:addmatkul' %}">Tambah Matkul</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'story4:viewmatkul' %}">Lihat Matkul</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'story4:addkegiatan' %}">Tambah Kegiatan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'story4:viewkegiatan' %}">Lihat Kegiatan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'story4:accordion' %}">Story 7</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'story4:search' %}">Story 8</a>
        </li>
      </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>