{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="single-grid-1">
        <h2>Deskripsi</h2>
        <p>Mahasiswa yang terlihat biasa saja tapi ingin berhenti menjadi biasa saja.<br>
           Memiliki motto hidup <i>Be yourself and never surrender.</i></p><br>
           Sejak dulu, mimpi saya seringkali berubah seiring waktu. Pada saat kecil, saya memiliki keinginan untuk menjadi dokter untuk membantu banyak orang. Selang 
           beberapa lama, saya pun berkeinginan untuk menjadi seorang <br> insinyur karena terkesima dengan lingkungan pekerjaan ayah saya.<br><br>
           Mimpi saya memang sering berubah-ubah. Akan tetapi, saat ini saya memiliki sebuah keinginan yang lebih besar dari sebelumnya; Menjadi seorang programmer yang hebat
           dan menjadi seseorang yang mampu mengatasi <br> masalah apapun. Kali ini, keinginan itu berasal dari dalam diri saya sendiri.</p>
    </div>
</div>

<div class="row">
    <div class="single-grid-2">
        <h2>Riwayat Pendidikan</h2>
        <dl>
            <dt style="margin-top: 2px;">Sekolah Dasar:</dt>
                <dd>SD Islam PB Soedirman, Jakarta Timur (2008-2013)<br>
                - Mengikuti program akselerasi
                </dd>
            <dt style="margin-top: 2px;">Sekolah Menengah Pertama:</dt>
                <dd>SMP Islam PB Soedirman, Jakarta Timur (2013-2015)<br>
                - Mengikuti program akselerasi
                </dd>
            <dt style="margin-top: 2px;">Sekolah Menengah Atas:</dt>
                <dd>SMA Negeri 39 Jakarta (2015-2018)</dd>
            <dt style="margin-top: 2px;">Perguruan Tinggi:</dt>
                <dd>1. Fakultas Teknik Universitas Indonesia (2018-2019)<br>
                - Jurusan Teknik Elektro</dd>
                <dd>2. Fakultas Ilmu Komputer Universitas Indonesia (2019-2020)<br>
                - Jurusan Ilmu Komputer</dd>
        </dl>
    </div>
</div>
{% endblock %}