{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col"><h1>Detail Mata Kuliah</h1></div>
    </div>
    
    <div class="row">
        <div class="col">
            <p>Nama Mata Kuliah:</p>
            <p>{{ matkul.nama_matkul }}</p>
            <p>Nama Dosen:</p>
            <p>{{ matkul.nama_dosen }}</p>
            <p>Jumlah SKS:</p>
            <p>{{ matkul.jumlah_sks }}</p>
            <p>Deskripsi:</p>
            <p>{{ matkul.deskripsi_matkul }}</p>
            <p>Semester:</p>
            <p>{{ matkul.semester }}</p>
            <p>Ruang Kelas</p>
            <p>{{ matkul.ruang_kelas }}</p>
            <a href="{% url 'story4:viewmatkul' %}" class="btn btn-secondary">Kembali</a>
        </div>
    </div>

    

</div>
{% endblock %}