{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="row">
    <div class="side">
        <h2>All about me</h2>
        <img src= {% static 'DaffaElGhifari.jpg' %} alt="Foto ganteng" width="200">
            <p><a href="https://instagram.com/delghifari_">Instagram</a></p>
            <p><a href="https://twitter.com/elschifff">Twitter</a></p>
    </div>

    <div class="main" style="height: 800px;">
        <h2>Welcome!</h2>

        <p>Nama: Mochammed Daffa El Ghifari</p>
        <p>TTL: Jakarta, 26 Juni 2002</p>
        <p>NPM: 1906350976</p>
        <p>Status: Mahasiswa</p>
        <p>Tempat Kuliah: Fakultas Ilmu Komputer Universitas Indonesia</p>
        <p>Angkatan: Maung (2019)</p>
        <p>Hobi: Tenis meja, video game</p>

    </div>

</div>
{% endblock %}