{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'search.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">
	<h1 class="mt-5 offset-1">Search Book</h1>
	<form id="search-form">
		<div class="offset-1">
			<div class="form-group">
				{% csrf_token %}

				{{SearchForm}}
			</div>
		</div>
		<div class="offset-1 align-content-end">
			<button class="btn btn-primary" id="button-search">Search</button>
		</div>
	</form>
	<div class="row">
		<table class="table table-responsive table-hover mt-5">
			<thead class="table-header">
				<tr>
					<th scope="col">Nama</th>
					<th scope="col">Gambar</th>
					<th scope="col">Deskripsi</th>
					<th scope="col">Penulis</th>
				</tr>
			</thead>
			<tbody id="books"></tbody>
		</table>
	</div>

</div>
</body>
</html>
{% endblock %}