{% extends 'base.html' %}

{% block content %}
{% load static %}
<h2>Welcome!</h2>

<img src={% static 'DaffaElGhifari.jpg' %} alt="Foto ganteng" width="300"> 

<p>Nama: Mochammed Daffa El Ghifari</p>
<p>TTL: Jakarta, 26 Juni 2002</p>
<p>NPM: 1906350976</p>
<p>Angkatan: Maung</p>
<p>Hobi: Tenis meja, video game</p>
<p>Deskripsi: Mahasiswa yang terlihat biasa saja tapi sedang ingin berhenti menjadi biasa saja.<br> 
          Memiliki motto hidup <i>Be yourself and never surrender</i></p>
<p>Tempat Kuliah: Fakultas Ilmu Komputer Universitas Indonesia</p>

<p>Riwayat Pendidikan:</p>
<dl>
<dt style="margin-top: 2px;">Sekolah Dasar:</dt>
    <dd>SD Islam PB Soedirman, Jakarta Timur (2008-2013)<br>
    - Mengikuti program akselerasi
    </dd>
<dt style="margin-top: 2px;">Sekolah Menengah Pertama:</dt>
    <dd>SMP Islam PB Soedirman, Jakarta Timur (2013-2015)<br>
    - Mengikuti program akselerasi
    </dd>
<dt style="margin-top: 2px;">Sekolah Menengah Atas:</dt>
    <dd>SMA Negeri 39 Jakarta (2015-2018)</dd>
<dt style="margin-top: 2px;">Perguruan Tinggi:</dt>
    <dd>1. Fakultas Teknik Universitas Indonesia (2018-2019)<br>
    - Jurusan Teknik Elektro</dd>
    <dd>2. Fakultas Ilmu Komputer Universitas Indonesia (2019-2020)<br>
    - Jurusan Ilmu Komputer</dd>
</dl>

<p>Media Sosial:</p>
<ul>
<li>Instagram: <a href="https://instagram.com/delghifari_">@delghifari_</a></li>
</ul>
{% endblock %}