{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col"><h1>Daftar Mata Kuliah</h1></div>
    </div>
    
    <div class="row">
        <div class="col"><p>Nama Matkul</p></div>
    </div>


    {% for matkul in list_matkul %}
    <div class="row mb-1">
        <div class="col"><p>{{ matkul.nama_matkul }}</p></div>
        <div class="col"><a class = "btn btn-secondary" href = "{% url 'story4:detailmatkul' matkul.id %}" role = "button"><p>Detail</p></a></div>
        <div class="col"><a class = "btn btn-danger" href = "{% url 'story4:clearmatkul' matkul.id %}" role = "button"><p>Hapus</p></a></div>
    </div>
    {% endfor %}
    

</div>
{% endblock %}