{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col m-2"><h1>Daftar Kegiatan</h1></div>
    </div>
    
        {% if list_kegiatan %}
        {% for kegiatan in list_kegiatan %}
        <div class="row m-2 border-dark">
            <div class="col">
                <p>{{kegiatan.nama}}</p>
                <ul>
                {% for peserta in kegiatan.list_peserta %}
                <li><p>{{peserta.nama_peserta}}</p></li>
                {% endfor %}    
                </ul>
            </div>

            <div class="col"><a class = "btn btn-danger" href = "{% url 'story4:addpeserta' kegiatan.id %}" role = "button"><p>Tambah Peserta</p></a></div>
        </div>

        {% endfor %}

        <div class="col my-5 mx-2"><a class = "btn btn-secondary" href = "{% url 'story4:clearkegiatan' %}" role = "button"><p>Hapus Semua Kegiatan</p></a></div>

        {% else %}
        <h4>Daftar kegiatan masih kosong, tambah kegiatan terlebih dahulu!</h4>

        {% endif %}

</div>
{% endblock %}